* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.light-text {
   color: #777; 
}

.pink-text {
    color: crimson;
}

.link {
    text-decoration: none;
}

#container {
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

#login-form {
    width: 50%;
    height: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    grid-auto-rows: min-content;
    grid-row-gap: 2rem;
    align-content: center;
}

#remember-section {
    height: 100%;
    display: flex;
    align-items: center;
}

#logo, #main-heading, #secondary-heading, #email-input, #pass, #login-btn, #register-warning {
    grid-column: 1/3;
}

#logo {
    width: 50%;
}

#bg-image {
    width: 100%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80) no-repeat center center/cover;
}

#chkbx {
    margin-right: 0.25rem;
}

#login-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 50px;
    background: blue;
    cursor: pointer;
    color: whitesmoke;
    font-size: 1.2rem;
    /* letter-spacing: 0.25rem; */
    font-weight: 600;
}

#login-btn:hover {
    background: purple;
}

.input {
    width: 100%;
    padding: 1rem 0.75rem;
    border: none;
    border-radius: 50px;
    background: #eee;
    outline: none;
}


/* .container>div {
    background:;
    padding: 1rem;
    }

.container>div:nth-child(odd) {
    background:brown;
    padding: 1rem;
} */